In [8]:
import numpy as np
import pandas as pd

arr1 = np.array([1.1, None, 3, 4])
arr1

array([1.1, None, 3, 4], dtype=object)

In [10]:
# error arr1.sum()

In [13]:
arr1 = np.array([1, np.nan, 3, 4])
arr1.dtype

dtype('float64')

In [14]:
arr1.sum()

nan

In [17]:
ser = pd.Series([1, np.nan, 2, None])
ser

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [23]:
print(ser,'\n')
print(ser.isnull(),'\n')
print(ser.notnull())

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

0    False
1     True
2    False
3     True
dtype: bool

0     True
1    False
2     True
3    False
dtype: bool

In [28]:
ser.dropna(how = 'all')

0    1.0
2    2.0
dtype: float64

In [33]:
df = pd.DataFrame([[1, np.nan, 2],
                 [2, 3, 5],
                 [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [38]:
df.dropna(axis = 'columns', how = 'any')
#df.dropna(axis = 'columns', how = 'all')

   2
0  2
1  5
2  6

In [43]:
ser = pd.Series([1, np.nan, 2, None,3], index=list('abcde'))
ser.fillna(-9999)

a       1.0
b   -9999.0
c       2.0
d   -9999.0
e       3.0
dtype: float64

In [49]:
ser.fillna(method='ffill')
#ser.ffill()

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [50]:
ser.fillna(method='bfill')
#ser.bfill()

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64